.features__bullet {
  display: flex;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 34px;
  }
}

.bullet__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.bullet__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26pt;
  margin: 0 0 10px 0;
}

.bullet__text {
  color: $font-color-grey;
  margin: 0;
  padding: 0;
}

.bullet__icon {
  height: 40px;
  width: 40px;
  margin: -10px 13px 0 0;
}

.bullet__wrap {
  display: none;
}

@media (min-width: $tablet-width) {
  .features__bullet {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__bullet:nth-child(2) {
    order: 1;
  }

  .bullet__info {
    text-align: center;
    flex-direction: column;
  }

  .bullet__title {
    margin-bottom: 20px;
    font-size: 21px;
  }

  .bullet__text {
    display: block;
    margin-bottom: 56px;
  }


  .bullet__icon {
    height: 80px;
    width: 80px;
    margin: 0 0 17px 0;
    fill: #7aadcb;
  }
}

@media (min-width: $desktop-width) {
  .features__bullet {
    padding: 0 45px;
  }

  .bullet__title {
    font-size: 21px;
    margin: 0 0 20px 0;
  }

  .bullet__info {
    max-width: 300px;
  }

  .bullet__text {
    margin-bottom: 80px;
  }

  .bullet__icon {
    height: 80px;
    width: 80px;
  }

  .bullet__wrap {
    display: inline;
  }
}
