.features__bullet {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px 35px 44px;
}

.bullet__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26pt;
  margin: 0;
}

.bullet__text {
  color: $font-color-grey;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .features__bullet {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .bullet {
    width: 180px;
    text-align: center;
  }

  .bullet__title {
    margin-bottom: 20px;
  }

  .bullet__text {
    display: block;
    margin-bottom: 60px;
  }
}
