.features {
  min-height: 2060px;
}

.features__intro {
  display: block;
  background-color: #ffffff;
  text-align: center;
  padding-top: 80px;
}

.features__title {
  display: inline-block;
  margin: 0 30px;
}

.features__info {
  display: inline-block;
  margin: 40px 30px;
}

.features__item-list {
  list-style-type: none;
  padding: 0;
}

.features__item-list--big {
  height: 470px;
  padding: 0;
  margin: 0;
}

.features__item {
  background-color: $feature-color;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding: 35px 0;
}

.features__item--big {
  height: 450px;
  background-color: $bg-color;
  color: #ffffff;
  text-align: center;
}
