.features {
  @include style-reset;
  min-height: 2060px;
  width: 100%;
}

.features__intro {
  @include style-reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.features__title {
  margin: auto;
  padding-bottom: 40px;
}

.features__info {
  margin: auto;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color-grey;
  padding-bottom: 48px;
}

.features__list {
  @include style-reset;
}

.feature-card {
  background-color: #eeeeee;
}

.feature-card__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font-family;
  font-size: 18px;
  text-transform: uppercase;
  color: $font-color-grey;
  padding: 35px 20px 0 20px;
}

.feature-card__info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 36px auto 0;
  background-color: #d6d6d6;
}

.feature-card__name {
  color: #333333;
  margin: auto;
}

.feature-card__number {
  font-size: $font-size;
  padding: 20px 0 24px 0;
  margin: auto;
}

.feature-card__text {
  margin: auto;
  font-size: $font-size;
  text-align: center;
}

.feature-card--big {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: 18px;
  text-transform: uppercase;
  background-color: $bg-color;
  padding: 0 20px;
}

.feature-card__name--big {
  color: $font-color;
  margin: auto;
  padding-top: 45px;
}

.feature-card__number--big {
  font-size: $font-size;
  padding: 20px 0 24px 0;
  margin: auto;
}

.feature-card__text--big {
  margin: auto;
  padding-bottom: 45px;
  text-align: center;
  font-size: $font-size;
}

.features__item__photo {
  display: block;
  width: 100%;
}

.features__bullet-list {
  @include style-reset;
  @include list-reset;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: $font-size;
  color: #000000;
  text-transform: uppercase;
  padding: 20px 20px;
}

.features__bullet {
  width: 100%;
  padding: 20px 32px 20px 50px;
}

.bullet__title {
  font-size: 18px;
}

.bullet__text {
  color: $font-color-grey;
  margin-bottom: 0;
  margin-top: 26px;
}
