.feedback {
  @include style-reset;

  color: #000000;
}

.feedback__header {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    right: calc(50% - 160px);
    height: 27px;
    width: 320px;
    background-image: url("/img/bg-intro-triangle-mobile.svg");
    background-size: 100%;
  }
}

.feedback__title {
  color: #000000;
  font-weight: 700;
  line-height: 26pt;
  font-size: 18px;
  margin: 0 auto 20px;
}

.feedback__info {
  color: $font-color-grey;
  line-height: 19pt;
  font-size: $font-size;
  margin: 0 auto 15px;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 100%;
    padding: 70px 60px 0;
    margin: 0 auto;
  }

  .feedback__header {
    width: 460px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: -126px;
      right: 0;
      left: -155px;
      width: 770px;
      height: 70px;
      background-image: url("/img/bg-intro-triangle-tablet.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .feedback__title {
    width: 460px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 27px;
  }

  .feedback__info {
    width: 440px;
    margin: 0 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 120px;
    margin: 0 auto;
  }

  .feedback__header {
    margin: 110px auto 0;

    &::before {
      top: -166px;
      right: 0;
      left: -370px;
      height: 70px;
      width: 1200px;
      background-image: url("/img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
    }
  }

  .feedback__info {
    margin: 0 0 58px;
  }
}
