.feedback-form {
  @include style-reset;
  font-family: $font-family;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.feedback-form-group_name {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-group_name h2 {
  font-size: 18px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 27px;
}

.feedback-form-group_name input {
  font-weight: 700;
  font-family: $font-family;
  font-size: 18px;
  color: #000000;
  border: none;
  background: #f2f2f2;
  padding: 20px;
  margin: 24px 0;
}

.feedback-form-group_contact {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-group_contact h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding-bottom: 27px;
}

.feedback-form-group_contact input {
  font-weight: 700;
  font-family: $font-family;
  font-size: 18px;
  color: #000000;
  border: none;
  background: #f2f2f2;
  padding: 20px;
  margin: 16px 0 24px 0;
}

.feedback-form-group_impression {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-group_impression h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 25px 0;
}

.feedback-form-group_impression input {
  width: 60px;
  height: 60px;
}

.feedback-form-group_impression label {
  text-transform: none;
}

.feedback-form-group_checkbox {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-group_checkbox h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 23px 0 26px 0;
}

.feedback-form-group_checkbox input {
  width: 60px;
  height: 60px;
}

.feedback-form-group_checkbox label {
  text-transform: none;
}

.feedback-form-group_message {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form-group_message label {
  text-align: center;
  margin: 0;
  font-size: 18px;
  padding: 27px 0;
}

.feedback-form-group_message textarea {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  padding: 20px 20px;
  margin-bottom: 50px;
  border: none;
}
