.feedback-form {

  color: #000000;
}

.feedback-form__group {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 20px 0;
  border-top: 2px solid #e5e5e5;
}

.feedback-form__group--radio {
  padding: 19px 20px 0;
}

.feedback-form__group--name {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-start;
}

.feedback-form__inner {
  width: 100%;
  overflow: hidden;
}

.feedback-form__group--checkbox {
  padding: 15px 20px 1px;
}

.feedback-form__checkbox-wrapper {
  margin: 31px 0 0 0;
}

.feedback-form__title-wrap {
  display: flex;
  margin: 0 0 20px 0;
}

.feedback-form__title {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.feedback-form__field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback-form__textarea {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  resize: none;
  background-color: #f2f2f2;
  width: 100%;
  height: 160px;
  margin-bottom: 40px;
  padding: 10px 19px;
}

.feedback-form__bottom {
  padding: 0 $padding-mobile;
  margin: 0 0 27px 0;
}

.feedback-form__sub {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 768px;
    margin: 0 auto;
  }

  .feedback-form__field {
    margin: 15px 0;
  }

  .feedback-form__title {
    font-size: 21px;
    line-height: 25px;
    display: block;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    margin: 0 0 45px 0;
    font-weight: 700;
  }

  .feedback-form__title--long {
    width: 396px;
    margin: 0 0 5px 0;
  }

  .feedback-form__title-wrap {
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 0 9px 0;

    &::after {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #dbdbdb;
      transform: translateY(-50%);
    }
  }

  .feedback-form__group {
    display: flex;
    flex-wrap: wrap;
    position: static;
    border-top: none;
    margin: 0;
    padding: 0;
  }

  .feedback-form__group--small {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 324px;
  }

  .feedback-form__group--name {

    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 55px;
    order: 2;
    border-top: none;
    border-left: 1px #b2b2b2 solid;
  }

  .feedback-form__group--tel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 3;
    margin-top: 47px;
  }

  .feedback-form__group--radio {
    order: 1;
    margin: 0;
    padding: 0;
    border-top: none;
  }

  .feedback-form__group--checkbox {
    margin-top: 18px;
    order: 4;
  }

  .feedback-form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 458px;
    margin: 46px auto 0;
  }

  .feedback-form__group--textarea {
    order: 5;
    padding: 13px 0 0;
  }

  .feedback-form__textarea {
    margin: 52px 0;
  }

  .feedback-form__bottom {
    width: 648px;
    display: flex;
    justify-content: space-between;
    order: 6;
    padding: 0;
    margin: 0 0 56px 0;
  }

  .feedback-form__btn {
    width: 324px;
    padding: 18px 65px 18px 54px;
  }

  .feedback-form__sub {
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    margin: 22px 0 0;
    color: #333333;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__wrapper {
    justify-content: space-between;
    max-width: 960px;
  }

  .feedback-form__title--short {
    margin: 0 0 45px 78px;
  }

  .feedback-form__group--small {
    max-width: 480px;
  }

  .feedback-form__group--tel {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .feedback-form__group--name {
    padding: 0 0 0 80px;
  }

  .feedback-form__checkbox-wrapper {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 12px;
  }

  .feedback-form__group--checkbox {
    margin-top: 23px;
  }

  .feedback-form__group--textarea {
    padding: 0;
  }

  .feedback-form__bottom {
    width: 960px;
  }

  .feedback-form__btn {
    width: 50%;
    padding: 18px 53px 18px 54px;
  }
}
