.form-radio {
  width: 100%;
  margin: 36px 0 49px;
  padding-left: 77px;
  position: relative;
}

.form-radio__label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.form-radio__input {
  @include visuallyHidden;

  appearance: none;
  position: absolute;
}

.form-radio__box {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #f2f2f2;
  background-image: none;
  border-radius: 50%;
  margin-left: -77px;
  top: -14px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.form-radio__input:checked + .form-radio__box {
  background-color: #333333;
  border: 18px solid #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: #333333;
    border: 18px solid #efefef;
  }

  &:active {
    background-color: #a4a4a4;
    border: 18px solid #d5d5d5;
  }
}

@media (min-width: $tablet-width) {
  .form-radio {
    margin: 21px 0;
  }
}
