.gallery {
  @include style-reset;

  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  color: #000000;
}

.gallery__item {
  @include list-reset;

  margin: auto;
}

.gallery__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}

.gallery__photo {
  display: block;
  width: 100%;
  margin: 25px auto 15px;
}

.gallery__header {
  line-height: 24pt;
  font-size: $font-size;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
}

.gallery__athour {
  line-height: 21pt;
  font-size: $font-size;
  font-weight: $font-weight;
  color: #000000;
  margin: 0 0 5px;
}

.gallery__number {
  font-size: $font-size;
  font-weight: 700;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.gallery__number::before {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  content: url("/img/icon-like.svg");
  margin-right: 16px;
}
