.gallery {
  @include style-reset;
}

.gallery__item {
  @include list-reset;

  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 23px 20px 0;
  margin: 0 auto;

  picture {
    font-size: 0;
    line-height: 0;
  }
}

.gallery__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0 22px;
}

.gallery__content {
  line-height: 0;
}

.gallery__photo {
  width: 100%;
}

.gallery__item-title {
  @include style-reset;

  line-height: 24px;
  font-size: $font-size;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0;
}

.gallery__author {
  @include style-reset;

  line-height: 24px;
  font-size: $font-size;
  font-weight: $font-weight;
  color: #333333;
  margin-bottom: 5px;
}

.gallery__like-wrap {
  display: flex;
  align-items: flex-end;
  background: 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.gallery__like {
  @include style-reset;

  font-size: $font-size;
  font-weight: 700;
  color: #000000;
  padding-left: 15px;
}

.gallery__like-icon {
  color: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .gallery__item {
    width: 324px;
    border-top: none;
    margin: 0;
    padding: 0;

    &--big {
      width: $tablet-width;
    }
  }

  .gallery__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px 12px 15px;
    background-color: #f2f2f2;
  }

  .gallery__info--big {
    padding: 15px 20px 12px 15px;
  }

  .gallery__item-title {
    font-weight: 700;
  }

  .gallery__info-wrapper {
    margin: 0 0 0 5px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .gallery__item {
    position: relative;
    width: 400px;
    height: 265px;

    &--big {
      min-width: 1200px;
      min-height: 400px;
    }
  }

  .gallery__photo {
    width: 100%;
    object-fit: cover;
  }

  .gallery__info {
    position: absolute;
    z-index: 0;
    width: inherit;
    top: 185px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__info--big {
    width: 100%;
    top: 320px;
    left: 0;
  }

  .gallery__item-title {
    color: #ffffff;
  }

  .gallery__author {
    color: #ffffff;
  }

  .gallery__like {
    color: #ffffff;
  }

  .gallery__like-icon {
    color: #ffffff;
  }
}
