.interested {
  @include style-reset;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  padding: 34px 20px 50px 20px;
}

.interested__title {
  font-family: $font-family;
  font-size: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
}

.interested__text {
  font-family: $font-family;
  font-size: 14px;
  font-weight: $font-weight;
  color: $font-color-grey;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  display: block;
  background-color: $bg-color;
  font-family: $font-family;
  font-size: 21px;
  color: $font-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 14px 46px;
  border: none;
}
