.intro {
  @include style-reset;

  min-height: 385px;
  background-color: #d7e8f0;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 20px;
}

.intro_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: #d7e8f0;
    background-image: url("/img/bg-back-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
  }
}
