.intro-small {
  @include style-reset;
  min-height: 163px;
  background-color: #d7e8f0;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 20px 65px 20px;
}

.intro-small_pic {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .intro-small {
    background-color: #d7e8f0;
    background-image: url("/img/bg-back-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
  }
}
