.intro {
    height: 385px;
    background-color: #d7e8f0;
    background-image: url('C:/Users/liza/Desktop/HTML Academy/senoda/source/img/bg-back-mobile@1x.jpg');
    background-position: center;
}
.intro_img-text {
}
