.intro-small {
  @include style-reset;
  height: 163px;
  background-color: #d7e8f0;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-small_img-text {
  display: block;
  width: 100%;
  padding: 50px 20px 65px 20px;
}
