.main-nav {
  position: relative;
}

.main-nav__list {
  @include list-reset;

  text-align: center;
  font-family: $font-family;
  line-height: 40pt;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav__item {
  @include style-reset;
  width: 100%;
  background-color: $bg-color;
  display: block;
  border-bottom: 1px solid #678fa8;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.main-nav__item:last-child {
  box-shadow: inset 0 -3px 9px -7px #000000;
}

.main-nav__link {
  color: $font-color;

  &:active {
    color: #88b6d1;
  }
}

.main-nav__logo {
  position: relative;
  display: block;
  width: 102px;
  height: 56px;
  margin: 0 auto;
}

.main-nav__logo picture {
  font-size: 0;
  line-height: 0;
}

.main-nav__toggle {
  position: absolute;
  color: #ffffff;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
  padding: 0;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #cde1ed;
  }

  &:active {
    color: #a7cae0;
  }
}

.main-nav__menu {
  position: absolute;
  color: #81b3d2;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 230px;
  padding: 0;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #b3d1e4;
  }

  &:active {
    color: #d9e8f1;
  }
}

.main-nav--closed .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav--closed .main-nav__item + .main-nav__item {
  border-top: none;
}

.main-nav--closed .main-nav__logo {
  display: block;
  height: 56px;
  position: relative;
  width: 102px;
  margin: 0 auto;
}

.main-nav--closed .main-nav__list {
  background-color: #ffffff;
  border-top: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__menu {
  top: 15px;
}

.main-nav--opened .main-nav__menu {
  display: none;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__item + .main-nav__item {
  border-top: 1px solid #9ac2db;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    width: 100%;
    z-index: 0;
    margin: 0;
    background-color: #ffffff;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    display: none;
  }

  .main-nav--closed .main-nav__item {
    display: flex;
    justify-content: center;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: none;
    color: black;
    width: 100%;
    align-items: center;
  }

  .main-nav--closed .main-nav__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .main-nav__item {
    width: 20%;
    display: flex;
    justify-content: center;
    min-height: 56px;
    border: none;
    font-size: 14px;
    background-color: #ffffff;
    line-height: 26px;

    &:nth-child(2) {
      margin-right: 76px;
    }

    &:nth-child(3) {
      margin-left: 76px;
    }

    &:last-child {
      box-shadow: none;
    }

    &:hover {
      background-color: #ffffff;
    }

    &:active {
      background-color: #ffffff;
    }
  }

  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .main-nav__link {
    color: #000000;
    text-decoration: none;
    display: block;
    margin-top: 13px;
  }

  .main-nav__link:hover {
    color: #81b3d2;
  }

  .main-nav__link:active {
    color: #b2b2b2;
  }

  .main-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #dbdbdb;
    }
  }

  .main-nav__item + .main-nav__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 57px;
    margin: 0;
    max-width: 1200px;
  }

  .main-nav--closed .main-nav__logo {
    width: 185px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    border: none;
  }

  .main-nav__item {
    &:nth-child(2) {
      margin-right: 120px;
    }

    &:nth-child(3) {
      margin-left: 120px;
    }
  }

  .main-nav__logo {
    width: 185px;
  }
}
