.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
    height: 57px;
    margin: 0;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    border: none;
    color: black;
  }

  .main-nav__item {
    width: 20%;
    margin: 0;
  }

  .main-nav__link {
    margin: 0;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
    height: 57px;
    margin: 0;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    border: none;
  }
}

.main-nav__toggle {
  display: block;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.main-nav__list {
  @include list-reset;

  background-color: $bg-color;
}

.main-nav__item {
  @include style-reset;

  border-bottom: 1px solid #678fa8;

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  display: block;
  color: $font-color;
  text-align: center;
  font-family: $font-family;
  line-height: 40pt;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav__item + .main-nav__item {
  border-top: 1px solid #9ac2db;
}
