.map {
  @include style-reset;

  width: 100%;
  height: 345px;
  background-color: #d7e8f0;
  background-image: url("/img/bg-map-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map iframe {
  width: 100%;
  border: none;
}
