.media {
  @include style-reset;

  color: #000000;

}

.media__header {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.media__title {
  color: #000000;
  font-weight: 700;
  line-height: 26pt;
  font-size: 18px;
  margin: 0 auto 20px;
}

.media__info {
  color: $font-color-grey;
  line-height: 21pt;
  font-size: $font-size;
  margin: 0 auto 30px;
}

@media (min-width: $tablet-width) {
  .media__header {
    width: 460px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .media__title {
    width: 460px;
  }

  .media__info {
    width: 430px;
  }
}

@media (min-width: $desktop-width) {
  .media__header {
    padding: 100px 0 70px ;
  }

  .media__title {
    font-size: 21px;
  }

  .media__info {
    margin: 0 0 30px;
  }

}
