.media {
  @include style-reset;

  color: #000000;
}

.media__header {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  padding-top: 29px;
  padding-left: 27px;
  padding-right: 23px;
  margin: 0 auto;
}

.media__header--photo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    right: calc(50% - 160px);
    width: 320px;
    height: 27px;
    background-image: url("/img/bg-intro-triangle-mobile.svg");
    background-size: 100%;
  }
}

.media__title {
  color: #000000;
  font-weight: 700;
  line-height: 26pt;
  font-size: 18px;
  margin: 0 auto 25px;
}

.media__info {
  color: $font-color-grey;
  font-size: $font-size;
  line-height: 24px;
  margin: 0 auto 25px;
}

@media (min-width: $tablet-width) {
  .media__header {
    width: 460px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 70px 0 0;
  }

  .media__header--video {
    padding: 64px 0 0;
  }

  .media__header--photo {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -57px;
      right: 0;
      left: -154px;
      width: 770px;
      height: 70px;
      background-image: url("/img/bg-intro-triangle-tablet.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .media__title {
    width: 460px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .media__info {
    width: 430px;
    margin: 0 auto 66px;
  }
}

@media (min-width: $desktop-width) {
  .media__header {
    padding: 105px 0 0;
  }

  .media__header--photo {
    position: relative;

    &::before {
      top: -57px;
      right: 0;
      left: -374px;
      height: 70px;
      width: 1204px;
      background-image: url("/img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
    }
  }

  .media__title {
    font-size: 30px;
  }

  .media__info {
    margin: 0 0 70px;
  }

  .media__header--video {
    padding-top: 66px;
  }
}
