.page-header {
  width: 320px;
  position: relative;
  margin: 0 0 56px;
}

.page-header__logo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #ffffff;
  height: 56px;
  width: 104px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 0;
  }

  .page-header__logo {
    display: inline;
    height: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
    min-height: 57px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .page-header__logo {
    display: inline;
    height: 0;
  }
}
