.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 2px 2px;
  background-color: $bg-color;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link {
  @include style-reset;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  margin: 10px 0 0;

  &:hover svg {
    fill: #ffffff;
  }

  &:active svg {
    fill: #88b6d1;
  }
}
