.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 2px;
}

.social__link {
  @include style-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 47px;
  background-color: $bg-color;
  cursor: pointer;
  color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: #669ec0;
  }

  &:active {
    color: #88b6d1;
    background-color: #5496bd;
  }
}
