.wrapper {
  width: auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    box-shadow: 0 0 40px 0 #dbdbdb;
  }
}
