@font-face {
    font-family:'PTSans';
    src: url('C:/Users/liza/Desktop/HTML Academy/senoda/source/fonts/ptsans.woff') format ('woff'), url('C:/Users/liza/Desktop/HTML Academy/senoda/source/fonts/ptsans.woff2') format ('woff2'), url('C:/Users/liza/Desktop/HTML Academy/senoda/source/fonts/ptsansbold.woff') format ('woff'), url('C:/Users/liza/Desktop/HTML Academy/senoda/source/fonts/ptsansbold.woff2') format ('woff2');
    font-style: normal;
}
