$font-family: "PT Sans", "Arial", sans-serif;
$font-size: 14px;
$font-color: #ffffff;
$font-color-grey: #333333;
$font-weight: 400;
$line-height: 21px;
$mobile-width: 320px;
$bg-color: #81b3d2;
$feature-color: #eeeeee;
$padding-mobile: 20px;
